<section class="advantages">
  <div class="container container-advantages">
    <h2 class="hidden">advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-item">
        <span class="advantages-title advantages-title-cow">721</span>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-title advantages-title-weight">16kg</span>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <span class="advantages-title advantages-title-ice">84</span>
        <p class="advantages-text">
          Aliquam ac dui vel dui vulputate <br />
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
