<section class="gallery">
  <h2 class="gallery-title hidden">gallery</h2>
  <div class="gallery-container">
    <div class="gallery-thumb">
      <picture class="gallery-picture">
        <source
          srcset="
            ./images/gallery/to-much-dekstop.jpg    1x,
            ./images/gallery/to-much-dekstop@2x.jpg 2x
          "
          media="(min-width: 1200px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/gallery/to-much-dekstop.webp    1x,
            ./images/gallery/to-much-dekstop@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/to-much-tablet.jpg    1x,
            ./images/gallery/to-much-tablet@2x.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/gallery/to-much-tablet.webp    1x,
            ./images/gallery/to-much-tablet@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/gallery/to-much-mobile.jpg    1x,
            ./images/gallery/to-much-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/gallery/to-much-mobile.webp    1x,
            ./images/gallery/to-much-mobile@2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img src="./images/gallery/to-much-mobile.jpg" alt="ice cream" />
      </picture>
    </div>
  </div>
  <img src="./images/gallery/to-much-mobile.jpg" alt="ice cream" />
</section>
