<section class="hero">
  <div class="container horo-container">
    <h1 class="hero-title">ice cream made with passion</h1>
    <ul class="hero-box1">
    <li>
      <p class="hero-nam">16</p>
      <p class="hero-p">cafes</p>
    </li>
    <li>
      <p class="hero-nam">23</p>
      <p class="hero-p">food trucks</p>
    </li>

    </ul>
    <div class="hero-box2">
      <ul class="hero-nav">
        <li class="hero-btns">
          <button type="button" class="hero-bt1"><a class="hero-link1" href="#">Products</a></button>
        </li>
        <li class="hero-btns">
          <button type="button" class="hero-bt2">
            <a class="hero-link2" href="#">How it's made</a>
          </button>
        </li>
      </ul>
      <ul class="hero-dekoration">
        <li class="hero-dek-items">
          <div class="hero-im-plate"></div>
        </li>
        <li class="hero-dek-items">
          <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="arrow-bt">
            <svg class="arrow-bt-icon" width="40" height="16">
              <use href="./images/icons.svg#icon-arrow-button"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <div class="hero-im-ice"></div>
    <div class="hero-im-dots"></div>
  </div>
</section>
