<section class="hero">
  <div class="container">
    <h1 class="hero-title">ice cream made with passion</h1>
    <ul class="hero-nav">
      <li class="hero-btns">
        <button type="button" class="hero-bt1"><a class="hero-link1" href="#">Products</a></button>
      </li>
      <li class="hero-btns">
        <button type="button" class="hero-bt2">
          <a class="hero-link2" href="#">How it's made</a>
        </button>
      </li>
    </ul>
    <div class="ice"></div>
  </div>
</section>
