<section class="hero">
  <div class="container horo-container">
    <h1 class="hero-title" data-aos="zoom-in-up">
      ice cream made with <span class="hero-title-decoration">passion</span>
    </h1>

    <ul class="hero-box1">
      <li>
        <span class="hero-nam">16</span>
        <p class="hero-p">cafes</p>
      </li>
      <li>
        <span class="hero-nam">23</span>
        <p class="hero-p">food trucks</p>
      </li>
    </ul>

    <ul class="hero-nav">
      <li class="hero-btns">
        <div class="hero-bt1">
          <a class="hero-link1" href="#products">Products</a>
        </div>
      </li>
      <li class="hero-btns">
        <div class="hero-bt2">
          <a class="hero-link2" href="#about">How it's made</a>
        </div>
      </li>
    </ul>
    <ul class="hero-dekoration">
      <li class="hero-dek-items">
        <div class="hero-im-plate"></div>
      </li>
      <li class="hero-dek-items">
        <p class="hero-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="arrow-bt">
          <svg class="arrow-bt-icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>

    <div class="hero-im-ice"></div>
    <div class="hero-im-dots"></div>
  </div>
</section>
