<section class="product">
  <div class="container">
    <p class="product-label">100% natural</p>
    <h2 class="product-title section-title">products</h2>
    <ul class="product-list">
      <li class="product-item">
        <div class="product-card product-card--ice-cream">
          <h3 class="product-card__title">ice cream</h3>
          <p class="product-card__description">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-card product-card--ice-coffee">
          <h3 class="product-card__title">ice coffee</h3>
          <p class="product-card__description">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
      <li class="product-item">
        <div class="product-card product-card--milkshakes">
          <h3 class="product-card__title">milkshakes</h3>
          <p class="product-card__description">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button type="button" class="product-button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>
