.gallery-container {
  width: 100%;
  @media screen and (max-width: 767px) {
    margin-top: 32px;
    height: 98px;
    background-image: url(../images/background/backgroud_mobile.jpg),
      url(../images/background/backgroud_mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    margin-top: 144px;
    height: 183px;
    background-image: url(../images/background/background-tablet.jpg),
      url(../images/background/background-tablet@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 98px;
    height: 324px;
    background-image: url(../images/background/background-dekstop.jpg),
      url(../images/background/background-dekstop@2x.jpg);
  }

  // @media (min-device-pixel-ratio: 2),
  //  (min-resolution: 192dpi),
  // (min-resolution: 2dppx) {
  //  background-image: url(../images/background/backgroud_mobile.webp),
  //   url(../images/background/backgroud_mobile@2x.webp);
  // }
}

.gallery-thumb {
  position: relative;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    bottom: 32px;
    padding: 0 20px;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    bottom: 144px;
    padding: 0 32px;
    width: 704px;
  }

  @media screen and (min-width: 1200px) {
    bottom: 98px;
    padding: 0 94px;
    width: 1013px;
  }
}

.gallery-picture {
  transition: image 500ms linear 1000ms;
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    border-radius: 8px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
  }
}
.img {
  background: url(../images/gallery/to-much-mobile.jpg);
  transition-property: background-color, transform;
  transition-duration: 500ms;
  transition-timing-function: linear;
  transition-delay: 0;
  &:hover {
    background-color: teal;
    transform: rotate(180deg);
  }
}
