.header {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 12px 20px;

  @include mobile {
    min-width: 480px;
  }

  @include tablet {
    max-width: 768px;
    padding: 20px 32px;
  }

  @include desktop {
    max-width: 1200px;
    padding: 8px 16px;
  }

  background-color: var(--bg-mobile-menu);

  @media screen and (min-width: 768px) {
    background-color: var(--bg-desktop);
  }
}

.button-now,
.button-buy-now {
  margin-top: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: 1px solid transparent;
  align-items: center;
  text-align: center;
  color: var(--color-black-accent);
  background-color: var(--btn-defaut);
  border-radius: 10px;
  height: 42px;
  width: 152px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: var(--btn-hover-focus);
  }

  &:focus {
    background-color: var(--btn-hover-focus);
    color: var(--color-white-accent);
  }

  &:disabled {
    background-color: var(--btn-disabled);
  }
}

.button-now {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-buy-now {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 16px;
  padding: 0;
  margin-left: auto;
  margin-top: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    right: 32px;
    margin-top: 24px;
  }
  @media screen and (min-width: 1200px) {
    right: 16px;
    margin-top: 28px;
  }
}

.button-icon {
  fill: currentColor;
  &:hover svg {
    color: var(--color-black-accent);
  }

  &:focus svg {
    color: var(--color-white-accent);
  }

  &:disabled svg {
    color: var(--color-black-accent);
  }
}
.logo-menu {
  position: absolute;
  top: 12px;
  left: 15px;

  @media screen and (min-width: 768px) {
    top: 20px;
    left: 29px;
  }
}

.menu-link {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white-main);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.25;
  }

  &:hover,
  &:focus {
    color: var(--color-black-main);
  }
}

.menu-link--primary {
  color: var(--color-black-main);
}

.logo {
  display: block;
  

  @media screen and (min-width: 1200px) {
    
    margin-right: 308px;
  }
}
.nav-menu {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-item {
  align-items: center;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item:first-child {
  margin-top: 51px;
}
.menu-open,
.menu-close {
  
  position: absolute;
  top: 16px;
  right: 20px;

  display: flex;

  justify-content: center;

  align-items: center;
  width: 32px;
  height: 32px;
  background-color: var(--bg-mobile-menu);
  border: none;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  padding: 0;
  fill: var(--color-white-accent);

  border-color: transparent;

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.menu-open {
  
  @media screen and (min-width: 768px) {
    top: 29px;
    right: 216px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-mobile-menu);
  padding: 48px 40px;
  display: flex;
  flex-direction: column;

  overflow: auto;
  transform: translateX(0);
  transition: transform 0.5s  cubic-bezier(0.4, 0, 0.2, 1);
  

  &.is-hidden {
    transform: translateX(-100%);
    
    
  }
  
  @media screen and (min-width: 768px) {
    background-color: var(--bg-tablet);

    transform: translateX(0);
   transition: transform 0.5s  cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden{
    transform: translateX(-100%);
   }
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-nav {
  margin-top: 32px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-link {
  font-style: normal;
  font-weight: 700;

  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white-main);

  font-size: 16px;
  line-height: 1.23;
  flex-direction: row;

  &:hover,
  &:focus {
    color: var(--color-yellow);
  }
}

.header-link--primary {
  color: var(--color-yellow);
}

.header-list {
  display: inline-flex;
  align-items: center;
}
.header-item {
  margin-right: 28px;
}

.header-item:last-child {
  margin-right: 0;
}
