.header {
    background-color: var(--bg-mobile-menu);

    @media screen and (min-width: 768px){
        background-color: var(--bg-desktop);
    }
}
.button-now {
   font-weight: 600;
   font-size: 14px;
   line-height: 1.21;
   border: 1px solid transparent;
   align-items: center;
   text-align: center;
   color: var(--color-black-accent);
   background-color: var( --btn-defaut);
   border-radius: 10px;
   min-height: 42px;
   min-width: 152px;
  

   &:hover{
    background-color: var(--btn-hover-focus) ;
   }

   &:focus {
    background-color: var(--btn-hover-focus) ;
    color: var(--color-white-accent);
   }

   &:disabled {
    background-color: var(--btn-disabled);
   }
}

.menu-link {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 1.22;
   display: flex;
   align-items: center;
   text-align: center;
   color: var( --color-white-main);

   @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.25;
   }
  
   @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.23;
   }
}

.menu-link--primary {
    color: var( --color-black-main);

    @media screen and (min-width: 1200px) {
        color: var(--color-yellow);
    }
}