.header {
  position: relative;
  @media screen and (min-width: 768px) {
    background-color: var(--bg-desktop);
  }
}

.header-container {
  display: flex;
  align-items: center;

  @include max-mobile {
    padding: 12px 20px;
  }

  @include max-tablet {
    padding: 20px 32px;
  }

  @include desktop {
    padding: 8px 16px;
  }

  @media screen and (min-width: 320px) {
    padding: 12px 20px;
  }
}

.button-now,
.button-buy-now {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: 1px solid transparent;
  align-items: center;
  text-align: center;
  color: var(--color-black-accent);
  background-color: var(--btn-defaut);
  border-radius: 10px;
  height: 42px;
  width: 152px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
      background-color: var(--btn-hover-focus);
  }
  
  &:focus {
     background-color: var(--btn-hover-focus);
      color: var(--color-white-accent);
  }
  

  &:disabled {
    background-color: var(--btn-disabled);
  }
}

.button-now {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.button-buy-now {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  // padding-top: 12px;
  // padding-bottom: 12px;
  margin-top: 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 28px;
    margin-left: auto;
  }
}
.button-icon {
  fill: currentColor;
  &:hover svg {
    color: var(--color-black-accent);
  }
  
  &:focus svg {
    color: var(--color-white-accent);
  }
  
  &:disabled svg {
    color: var(--color-black-accent);
  }

}


.menu-icon {
 fill: currentColor; 

 

}

.logo-menu {
  position: absolute;

  top: 12px;
  left: 18px;

  @media screen and (min-width: 768px) {
    top: 19px;
    left: 20px;
  }

  @media screen and (min-width: 320px) {
    top: 14px;
    
  }
}

.menu-link {
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white-main);

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.25;
  }

  &:hover,
  &:focus {
    color: var(--color-black-main);
  }
}



.logo {
  display: block;

  @media screen and (min-width: 1200px) {
    margin-right: 308px;
  }
}
.nav-menu {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-item {
  align-items: center;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item:first-child {
  margin-top: 51px;
}
.menu-open,
.menu-close {
  display: flex;

  justify-content: center;

  align-items: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0;
  color: var(--color-white-accent);
  border-color: transparent;
    &:hover {
      color: var(--color-black-accent);
    }
  
    &:focus {
      color: var(--color-yellow);
    }
  
    &:disabled {
      color: var(--color-black-accent);
    }
}
.menu-close {
  position: absolute;
  top: 16px;
  right: 20px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.menu-open {
  margin-left: auto;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1199px) {
    display: none;
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-mobile-menu);
  padding: 48px 40px;
  display: flex;
  flex-direction: column;

  overflow: auto;
  transform: translateX(0);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    transform: translateX(-100%);
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-nav {
  margin-top: 32px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header-link {
  font-style: normal;
  font-weight: 700;

  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-white-main);

  font-size: 16px;
  line-height: 1.23;
  flex-direction: row;
  transition: color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--color-yellow);
  }
}

.header-list {
  display: inline-flex;
  align-items: center;
}
.header-item {
  margin-right: 28px;
}

.header-item:last-child {
  margin-right: 0;
}
