.product {
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--color-black-main);
  text-align: center;
}
.product-label {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  margin-bottom: 12px;
  @include tablet {
    font-size: 22px;
    line-height: calc(27 / 22);
  }
  @include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;
  }
}
.product-title {
  margin-bottom: 40px;
  @include tablet {
    margin-bottom: 80px;
  }
  @include desktop {
    margin-bottom: 120px;
  }
}
.product-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @include tablet {
    flex-direction: row;
    gap: 16px;
  }
  @include desktop {
    gap: 29px;
  }
}
.product-item {
  flex-basis: 100%;
  @include tablet {
    flex-basis: calc((100% - 2 * 16px) / 3);
  }
  @include desktop {
    flex-basis: calc((100% - 2 * 29px) / 3);
  }
}
.product-card {
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &--ice-cream {
    background-color: var(--green-product);
  }
  &--ice-coffee {
    background-color: var(--yellow-product);
  }
  &--milkshakes {
    background-color: var(--orange-product);
  }
}
.product-card__title {
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  @include desktop {
    margin-bottom: 66px;
  }
}
.product-card__description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;
  padding-left: 40px;
  padding-right: 40px;
  @include tablet {
    padding-left: 26px;
    padding-right: 26px;
  }
  @include desktop {
    font-size: 16px;
    line-height: calc(28 / 16);
    padding-left: 64px;
    padding-right: 64px;
  }
}
.product-button {
}
